*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter Tight' , sans-serif, 'Shadows Into Light';
}

:root{
    --main-gradient: linear-gradient(white,#A3F4FF);
    --bg-color: #006241;
    --second-bg-color: #101010;
    --main-color: #00704A;
    --text1-color: white;
    


}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    background-size: cover;
 
   
    
}

.drink-icons a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--text1-color);
    border-radius: 50%;
    color: var(--text1-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
    


}


.drink-icons a:hover{
    color: var(--second-bg-color); /*symbol color on hover*/
    background-color: #fff; /*circle interior on hover*/
    transform: scale(1.2) translateY(-5px); /*expand on hover*/
    box-shadow: 0 0 25px var(--text1-color); /*halo effect*/


 


}

h1{
    color: var(--text1-color);
    font-family: 'Shadows into Light';

    
}

.menu-picture{
    max-width: 100%;
    height: auto;
    display: block;
}

.site-header{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter Tight';

}

/*styling link inside site-header class*/
.drink-icons a:link{
    text-decoration: none; /*Removes underline*/
}




.icon-container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{

    color: var(--text1-color);
    
 
}

.btn-container{

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip-sign{
    font-family: 'Shadows Into Light';
}